body{
    font-family: monospace;
    background-color: black;
    }
    .container{
    text-align: center;
    margin-left: 27%;
    width: 450px;
    border: 2px solid white;
    /* margin-top: -3%; */
    padding: 22px;
}
h1{
    color: white;
    text-align: center;
font-size: 55px;
margin-left: 3%;
}


.num{
    display: flex;
    color: white;
    margin-left: 4%;
}
h2{
    font-size: 60px;
    margin-inline: 4px;
}

button{
    width: 120px;
    height: 35px;
    background-color: rgb(40, 239, 83);
    color: rgb(0, 0, 0);
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-inline: 10px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}